<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		comment
		-->
		<!--
		true - headless, false - normal with GUI
		use FALSE
		-->
		<add key="headless_browser_mode" value="false"/>
		<!--
		facebooks creds
		-->
		<add key="email" value=""/>
		<add key="password" value=""/>
	</appSettings>
</configuration>